@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  box-sizing: border-box;
}

/* Background */
body {
  background: #cc2b5e; 
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  
  background: linear-gradient(to right, #753a88, #cc2b5e);
}

/* Títulos */
h1, h2, .searchByName, .searchDefined{
  text-align: center;
}
h1, h2{
  font-family: 'Raleway', sans-serif;
  color: #B1F7FE;
  text-shadow: 2px 2px 2px #560958;
  text-align: center;
  margin-top: 5%;
}
h3{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #090126;
  text-decoration-line: underline;
}
h4 {
  font-family: 'Raleway', sans-serif;
}

/* Alteração de fonte */
p, ul, input, button{
  font-family: 'Raleway', sans-serif;
}

/* Receitas, resultados da pesquisa */
image-cocktail {
  text-align: center;  
}
img {
  width:45%;
}
@media (max-width: 500px) {
  img{
    width: 100%;
  }
}

/* Pesquisa por nome */
input {
  width: 20%;
  height: 30px;
  background: #F6BEFE;
}
button {
  display: block;
  margin: auto;
  margin-top: 15px;
  background: #F6BEFE; 
  color: #560958;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  border-radius: 30%;
}
@media (max-width:500px) {
  input {
    width: 50%;
  }
}

/* Pesquisa por select-box */
select {
  width: 20%;
  height: 30px;
  margin-bottom: 50px;
  background-color: #F6BEFE;
  color: #090126;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}
@media (max-width:500px) {
  select {
    width: 50%;
  }
}
